<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<!-- include header -->
<%- include("header")%>

<body>
    <h1>Login</h1>
    <div class="container">
        <form method="POST" action="/api/v1/user/login">
            <label>Email: </label>
            <input type="text" required name="email" placeholder="Enter your email"/><br>
            <label>Password: </label>
            <input type="text" required name="password" placeholder="Enter your Password"/> <br>
            
            <button type="submit">Login</button>
        </form>
     </div>
     
     <div>
        <% if (locals.error) { %>
            <p style='color: red'><%= error %></p>
        <% } %>
     </div>
</body>
</html>